*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
}
header{
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    align-items: center;
}
header div#menu_principal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
   
}
header div#buscador{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header div#buscador img{
    position: absolute;
    top: 48px;
    left: 120px;

}
header div#buscador input#buscar{
    background-color: rgb(220, 223, 225);
    text-align: center;
    flex: 100%;
    padding: 8px;
    margin: 12px;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
  
   
   
}
section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
    margin: 0;
}

.mueble{
   height: auto;
   width: 100%;
}

section>article>img#corazon{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 8rem;
    left: 14.5rem;
    transition: 1s;
}
section>article>img#corazon:hover{
   background-color: red;
   
}
section>article>img#corazon2:hover{
    background-color: red;
 }

section>article>img#corazon2{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 8rem;
    left: 0.5rem;
    transition: 1s;
}
section article span#descuento{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 10px;
   transform: translate(70px,35px) ;
    text-align: center;
   /* position: relative;
    top: 40px;
    left: 70px;*/
}
p{
    margin: 4px;
}
a{
    text-decoration: none;
    color: black;
  
}
li{
    list-style: none;
}
h2{
    font-size: 18px;
    margin: 6px;
}
label:nth-child(1){
    text-decoration: line-through;
    font-size: 13px;
}
label:nth-child(2){
    font-weight: bold;
}
footer{
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

footer nav#social ul{
    display: flex;
   padding: 0.5rem;
   
}
footer nav#social ul li{
    margin-right: 25px;
}
nav#lista{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    
}
nav#lista h2{
    align-self: flex-start;
    margin: 1rem;
   
}
nav#lista ul{
    display: flex;
    flex-direction: column;
    text-align: left ;
    flex: 100%;
    padding: 0.4rem;
    margin-top: -0.2rem;
   
}
nav#lista ul li{
   
    padding: 0.5rem;
    border-bottom: 1px solid black;
   
}


