*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin: 0;
}
ul{
    list-style: none;
}
.Logo{
    width: 15%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
}
/*Header*/
header{
    background-color: #69B1FA;
    display: flex;  
    flex-wrap: wrap;
   
}
header>div#imglogo{
    margin-top: 10px;
    flex: 100%;
    text-align: center;
}
header>div#menu-principal{
 display: flex;
 flex: 100%;
 justify-content: space-between;
 padding: 0px 9px 0px 9px;


}

div#buscador>input{
   padding: 2px;
   border-radius: 10px;
   position: relative;
   right: 14px;
   width: 17rem;
   text-align: center;
   
   
}
/*nav*/
header>div#menu-principal>div#hamburgesa input{
    display: none;
}
header>div#menu-principal>nav#menu ul{
    display: none;
}
/*Section imagen-principal*/
section#imagen-principal article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#imagen-principal article img{
    width: 100%;
    height: auto;
    margin-top: 3px;
}
section#imagen-principal article button{
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin: 8px;
}