*{
    box-sizing: border-box;
}
body{
    margin: 10px ;
    background-color: lightgray;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
header{
    background-color: lightskyblue;
    text-align: center;
    height: 3rem;
    margin-bottom: 10px;
    color: white;
    padding:15px;
}
main{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
}

main nav{
background-color: orange;
margin-bottom: 10px;
height: 3rem;
color: white;
padding:15px;
order: -1;

}
main article{
    background-color: blueviolet;
    margin-bottom: 10px;
    height: 10rem;
    color: white;
    padding:15px;
    
}
main aside{
    background-color: lightblue;
    height: 3rem;
    color: white;
    padding:15px;
    
}
footer{
    background-color:blue ;
    height: 3rem;
    text-align: center;
    color: white;
    padding:15px;
}
@media (min-width:768px){
    main{
        flex-direction: row;
        justify-content:space-between ;
        margin-bottom: 0;
    }
    main nav{
        height: 22rem;
        width:  15rem;
    }
    main article{
        height: 22rem;
        width:  25rem;
            
        }
    main aside{
        height: 22rem;
        width:  15rem;
            
            
        }
}