*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1,25rem;
    padding: 6px;
}

ul.menu{
    padding: 0;
    list-style-type: none;
    display: flex;
    background-color: deepskyblue;
    border: 1px solid #FFF;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
ul.menu>li{
    margin: 0.62rem;
    border: 1px solid #ffffff;
    text-align: center;
    
    
}
ul.menu>li:hover{
    color: orange;
}
@media (min-width:720px){
    ul.menu{
        justify-content: space-around;
        flex-direction: row;
        margin: 0 auto;
    }
    ul.menu>li{
        border-top:none ;
    }
}
@media (min-width:1040px){
    ul.menu{
        justify-content: flex-end;
        flex-direction: row;
        margin: 0 auto;
    }
    ul.menu>li{
        border-top:none ;
    }
    
}