*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
}
body>form{
    display: flex;
    flex-direction: column; 
    margin: 7px;
    
}
body>form>label{
    margin: 7px;
    font-weight: bold;
}
body>form>div#radios{
    margin: 8px;
  
}
body>form>input,select{
    border: none;
    border-bottom: 0.5px solid lightslategray;
    padding: 7px;
    margin: 6px;
    background-color: white;
}
body>form>select{
  color: lightslategray;
}
form button {
    margin-top: 1em;
    color: burlywood;
    background-color: rgb(54, 54, 54);
    border-radius: 20em;
    height: 4em;
    width: 12em;
}
form button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
@media (min-width:1024px){
    body form{
        flex-direction: row;
        flex-wrap: wrap;
        width: 40rem;
        margin: 0 auto;
       
     
    }
    body>form>div#radios{
        flex: 100%;
    }

    body>form>label{
        flex: 100%;
    }
    body>form>select,input{
        flex:45%;
        margin: 10px;
    }
    body>form>input#ciudad{
        flex:100%;
        
    } body>form>input#email{
        flex:100%;
        
    }
    body>form>input#tel{
        flex:100%;
        
    }
}