*{
    box-sizing: border-box;
    }
    /*BODY*/
    body {
      background-color: lightblue;
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: flex-start;
    }
    /*HAMBURGUESA*/
    input {
      display: none;
    }
    label.menu-toogle {
      left: 0;
    }
    label.menu-toogle > div {
      background-color: #22292a;
      padding: 5px;
      border-radius: 5px;
      margin-left: 5px;
      cursor: pointer;
      transition: left 5s;
    }
    
    label.menu-toogle > div > span.hamburguer-line {
      display: flex;
      flex-direction: column;
      width: 2em;
      height: 5px;
      background-color: white;
      margin: 5px 0;
    }
    
    /*MENU*/
    nav.main-menu {
      position: fixed;
      left: -200px;
      top: -10px;
      display: flex;
      flex-direction: column;
      background-color: #22292a;
      width: 200px;
      height: 100vh;
      justify-content: center;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      transition: left 0.25s;
    }
    input#hamburger:checked ~ nav.main-menu {
      position: relative;
      top: -10px;
      left: -10px;
      transition: left 2s;
    }
    input#hamburger:checked ~ label.menu-toogle {
      transition: left 5s;
    }
    nav.main-menu > a {
      text-decoration: none;
      color: white;
      padding: 10px;
      border-top: 0.1rem solid white;
      border-bottom: 0.1rem solid white;
      display: block;
    }